
<div class="container-fluid">
  <div class="body row">
    <div id="search"  class="col-md-4 col-md-offset-8">
      <select ui-select2="" ng-model="SelectedName" data-placeholder="Buscar..." style="width:200px">
        <option></option>
        <option ng-repeat="item in ListOfNamesModel" value="{{item.DETALLE}}">{{item.DETALLE}}</option>
      </select>
      &nbsp; &nbsp;
      <a ng-click="goToContribuyente(SelectedName)" class="btn btn-default btn-sm" style="background-color: #EBEBEB">Enviar</a>
    </div>
    <div class="col-md-4 col-md-offset-4">{{mensaje}} <strong>{{pdonante.nombre.replace('"','').replace('"','') }}</strong></div>
    <div class="col-md-4"></div>
    <div google-chart chart="chart" class="col-md-12 grafica"></div>
  </div>
</div>