    <script src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo+2:400,300,500">


    <div ng-app="quienPagaApp" ng-controller="MainCtrl" style="overflow:hidden;">
    <link href="styles/qp.css" rel="stylesheet">
    <link href="bower_components/select2/select2.css" rel="stylesheet" /> 
    <link href="bower_components/ng-grid/ng-grid.css" rel="stylesheet" />  

    <div class="body" style="font-family:'Exo 2',sans-serif;font-size:14px;" >
        <div id="subHeader">
          <div id="search" style="margin:0 auto;width:100%;max-width:1024px;height:50px;text-align:center;">
            <fieldset>
                <legend>Buscar</legend>
                <select ui-select2 id="SelectPartidoSector" ng-model="SelectUI2s.SelectPartidoSector" data-placeholder="Partidos o Sectores..." style="width:280px;margin:10px auto">
                  <option></option>
                  <option ng-repeat="item in Selectores.partidosector" id="{{item.name.replace(' ','_')}}" value="{{item.name}}" partido="{{item.isPartido}}" parent="{{item.partido}}">{{item.name}}</option>
                </select>
                 <select ui-select2 id="SelectJurisdiccion" ng-model="SelectUI2s.SelectJurisdiccion" data-placeholder="Jurisdicción..." style="width:150px;margin:10px auto">
                  <option></option>
                  <option ng-repeat="item in Selectores.jurisdiccion" value="{{item.Jurisdiccion}}">{{item.Jurisdiccion}}</option>
                </select>
                 <select ui-select2 id="SelectOrigenConcepto" ng-model="SelectUI2s.SelectOrigenConcepto" data-placeholder="Origen o Concepto..." style="width:240px;margin:10px auto">
                  <option></option>
                  <option ng-repeat="item in Selectores.origenconcepto" id="{{item.name.replace(' ','_')}}" value="{{item.name}}" origen="{{item.isOrigen}}" parent="{{item.origen}}">{{item.name}}</option>
                </select>
                 <select ui-select2 id="SelectDonante" ng-model="SelectUI2s.SelectDonante" data-placeholder="Donante..." style="width:210px;margin:10px auto">
                  <option></option>
                  <option ng-repeat="item in Selectores.donante | groupBy:'name'" value="{{item.name}}">{{item.name}}</option>
                </select>                
            </fieldset>
          </div>
        </div>
        <div id="subBody" style="margin-top:40px;">
          <div id="container"  style="width:100%;max-width: 1024px;margin:auto;overflow:hidden;">
              <p ng-show="displayGif" style="width: 70px; margin:70px auto;"><img src="/Portals/_Sudestada/QuienPaga/scripts/wait.GIF"></p>
              <div id="right" style="width:50%;float:left; margin:auto;min-width:320px;margin:0 auto">  
                <div google-chart chart="chart" select="onSelectRowFunction(selectedItem)" class="grafica" style="height:230px;padding:0;width:100%;margin:0 auto"></div>
                <div id="table" style="margin-top:30px;" ng-show="displayTable">
                  <div class="gridStyle" ng-grid="gridOptions"></div>
                </div>
              </div>

             <div id="left" style="width:50%;float:left;vertical-align:top;min-width:320px;margin:0 auto">
                <select ui-select2 id="SelectGroupBy" ng-model="filtro.agruparpor" data-placeholder="Agrupar por..." style="width:210px;margin:10px auto">
                     <option value="Partido">Partido</option>
                     <option value="Sector">Sector</option>
                     <option value="Jurisdiccion">Jurisdicci&oacute;n</option>
                     <option value="Origen">Origen</option>
                     <option value="Concepto">Concepto</option>
                     <option value="Donante">Donante</option>
                </select>
              </div>                 
            </div>
          </div>
        </div>
        <input type="hidden" id="filtrosector" value="{{filtro.sector}}">
        <input type="hidden" id="filtropartido" value="{{filtro.partido}}">
        <input type="hidden" id="filtroorigen" value="{{filtro.origen}}">
        <input type="hidden" id="filtrojurisdiccion" value="{{filtro.jurisdiccion}}">
        <input type="hidden" id="filtroconcepto" value="{{filtro.concepto}}">
        <input type="hidden" id="filtrodonante" value="{{filtro.donante}}">
    </div>

    
    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
     <script src="bower_components/ng-grid/build/ng-grid.debug.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/porpartido.js"></script>
    <script src="scripts/controllers/pororigen.js"></script>
    <script src="scripts/controllers/porcontribuyente.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="views/templates.js"></script>
    <script src="scripts/Filters/filter.js"></script>
    <!-- endbuild -->

    </div>
