    <script src="bower_components/jquery/dist/jquery.js"></script>
    

    <div ng-app="quienPagaApp" ng-controller="MainCtrl">
    <link href="bower_components/select2/select2.css" rel="stylesheet" /> 
    <link href="bower_components/ng-grid/ng-grid.css" rel="stylesheet" />  
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo+2:400,300,500">
<!--    <div ui-view>

    </div>
-->


<div class="body" style="font-family:'Exo 2',sans-serif;font-size:14px;" >
<div id="subHeader">
  <div id="search" style="margin:0 auto;width:100%;max-width:1024px;height:50px;text-align:center;">
    <select ui-select2="" ng-model="SelectPartidoSector" data-placeholder="Partidos o Sectores..." style="width:280px;margin:5px auto">
      <option></option>
      <option ng-repeat="item in Selectores.partidosector" id="{{item.name.replace(' ','_')}}" value="{{item.name}}" partido="{{item.isPartido}}">{{item.name}}</option>
    </select>
     <select ui-select2="" ng-model="SelectJurisdiccion" data-placeholder="Jurisdicción..." style="width:150px;margin:5px auto">
      <option></option>
      <option ng-repeat="item in Selectores.jurisdiccion" value="{{item.Jurisdiccion}}">{{item.Jurisdiccion}}</option>
    </select>
     <select ui-select2="" ng-model="SelectOrigenConcepto" data-placeholder="Origen o Concepto..." style="width:240px;margin:5px auto">
      <option></option>
      <option ng-repeat="item in Selectores.origenconcepto" id="{{item.name.replace(' ','_')}}" value="{{item.name}}" origen="{{item.isOrigen}}">{{item.name}}</option>
    </select>
     <select ui-select2="" ng-model="SelectDonante" data-placeholder="Donante..." style="width:210px;margin:5px auto">
      <option></option>
      <option ng-repeat="item in Selectores.donante | groupBy:'name'" value="{{item.name}}">{{item.name}}</option>
    </select>
  </div>
</div>
<div id="subBody" style="margin-top:40px;">
  <div id="container"  style="width:100%;max-width: 1024px;margin:auto">
    <div id="left" style="width:50%;float:left;vertical-align:top;min-width:320px;margin:0 auto">
      <table  style="width:300px; margin: 0 auto;">
       <tr>
         <th>Agrupar por:</th>
         <th></th>
       </tr>
        <tr>
          <td>Partido</td>
          <td><input type="radio" ng-model="filtro.agruparpor" value="Partido"></td>
        </tr>
          <td>Sector</td>
          <td><input type="radio" ng-model="filtro.agruparpor" value="Sector"></td>
        <tr>
          <td>Jurisdiccion</td>
          <td><input type="radio" ng-model="filtro.agruparpor" value="Jurisdiccion"></td>
        </tr>
        <tr>
          <td>Origen</td>
          <td><input type="radio" ng-model="filtro.agruparpor" value="Origen"></td>
        </tr>
        <tr>
          <td>Concepto</td>
          <td><input type="radio" ng-model="filtro.agruparpor" value="Concepto"></td>
        </tr>
        <tr>
          <td>Donante</td>
          <td><input type="radio" ng-model="filtro.agruparpor" value="Donante"></td>
        </tr>
      </table>
      </div>  
      <p ng-show="displayGif" style="width: 70px; margin:70px auto;"><img src="/Portals/_Sudestada/QuienPaga/scripts/wait.GIF"></p>
      <div id="right" style="width:50%;float:left; margin:auto;min-width:320px;margin:0 auto">  
        <div google-chart chart="chart" select="onSelectRowFunction(selectedItem)" class="grafica" style="padding:0;width:100%;margin:0 auto"></div>
        <div id="table" style="margin-top:30px;" ng-show="displayTable">
          <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
      </div>  
    </div>
  </div>
</div>




      </div>
    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
     <script src="bower_components/ng-grid/build/ng-grid.debug.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/porpartido.js"></script>
    <script src="scripts/controllers/pororigen.js"></script>
    <script src="scripts/controllers/porcontribuyente.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="views/templates.js"></script>
    <script src="scripts/Filters/filter.js"></script>
    <!-- endbuild -->

    </div>
